body {
  margin: 0;
}

.App {
  font-family: sans-serif;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.products {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 1rem;
  margin: 2rem;
}

.task {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  align-items: center;
}

.task form {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  align-items: center;
}

.task form {
  display: flex;
  flex-direction: row;
  gap: 1rem;
  align-items: center;
}

.task .task-input {
  display: flex;
  flex-direction: column;
  flex: 1;
}

.task .task-input input {
  flex: 1;
  margin-right: 1rem;
}

.task .task-btns {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.add {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  box-sizing: border-box;
  -webkit-tap-highlight-color: transparent;
  outline: 0;
  border: 0;
  margin: 0;
  cursor: pointer;
  user-select: none;
  vertical-align: middle;
  appearance: none;
  text-decoration: none;
  font-family: Roboto, Helvetica, Arial, sans-serif;
  font-weight: 500;
  font-size: 0.875rem;
  line-height: 1.75;
  letter-spacing: 0.02857em;
  text-transform: uppercase;
  min-width: 64px;
  padding: 6px 16px;
  border-radius: 4px;
  transition:
    background-color 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms,
    box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms,
    border-color 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms,
    color 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
  color: rgb(255, 255, 255);
  background-color: rgb(46, 125, 50);
  box-shadow:
    rgba(0, 0, 0, 0.2) 0px 3px 1px -2px,
    rgba(0, 0, 0, 0.14) 0px 2px 2px 0px,
    rgba(0, 0, 0, 0.12) 0px 1px 5px 0px;
}

.product label {
  display: block;
  margin-bottom: 1rem;
}

.singleTask {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin: 1rem 0.5rem;
  padding: 1rem 0.5rem;
  width: 30rem;
}

.todoInfo {
  display: flex;
  flex-direction: row;
}

.buttons {
  display: flex;
  flex-direction: row;
  gap: 5px;
}

.edit-btn {
  cursor: pointer;
  min-width: 64px;
  padding: 4px 5px;
  border-radius: 4px;
  background-color: transparent;
  color: rgb(46, 125, 50);
  border: none;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
}

.delete-btn {
  cursor: pointer;
  min-width: 64px;
  padding: 4px 5px;
  border-radius: 4px;
  background-color: transparent;
  color: red;
  border: none;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
}

.edit-btn:hover {
  background-color: rgba(46, 125, 50, 0.1);
}

.delete-btn:hover {
  background-color: rgba(255, 0, 0, 0.1);
}

.completed {
  text-decoration: line-through;
}

.title {
  display: flex;
  justify-content: center;
  transition: box-shadow 300ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
  box-shadow:
    rgba(0, 0, 0, 0.2) 0px 2px 4px -1px,
    rgba(0, 0, 0, 0.14) 0px 4px 5px 0px,
    rgba(0, 0, 0, 0.12) 0px 1px 10px 0px;
  width: 100%;
  position: relative;
  background-color: rgb(25, 118, 210);
  color: rgb(255, 255, 255);
  font-family: Roboto, Helvetica, Arial, sans-serif;
  font-weight: 300;
  font-size: 3.75rem;
  line-height: 1.2;
  letter-spacing: -0.00833em;
}

.form-input {
  font: inherit;
  letter-spacing: inherit;
  border: 0;
  box-sizing: content-box;
  background: none;
  height: 1.4375em;
  margin: 0;
  -webkit-tap-highlight-color: transparent;
  display: block;
  min-width: 0;
  width: 100%;
  animation-name: mui-auto-fill-cancel;
  animation-duration: 10ms;
  padding: 8.5px 14px;
}
